@import "tailwindcss";


 .poppins-regular {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .test-scrollbar::-webkit-scrollbar {
     display: none;
 }

 .test-scrollbar {
     scrollbar-width: none;
     -ms-overflow-style: none;
 }